<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ../views/partials/_header %>
</header>
<body>
    <!-- Add your EJS code here -->
    <h2>URLs</h2>
      <table style="margin:50px;">
      <% for (var url in urls) { %>
          <tr style="height:30px;">
            <form action="/urls/<%=url%>" method="POST">
              <td><%=url%></td>
              <td>&rarr;</td>
              <td style="width:250px;">
                <a href="<%=urls[url].url%>"><%=urls[url].url%></a>
              </td>
              <td style="width:50px;">
                <a href="/urls/<%=url%>">Edit</a>
              </td>
              <td>
                <button>Delete<img src="https://image.flaticon.com/icons/svg/65/65307.svg" width="20" height="20"></button>
              </td>
            </form>
          </tr>
      <% } %>
    </table>
</body>
</html>